@{
    ViewData["Title"] = "Home";
}
<div class="container py-3">
    <div class="display-4 text-center">Welcome</div>
    <hr>
    <div class="container">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4 d-flex align-items-center justify-content-center  border-2 border-end">
                    <i class="bi bi-person-circle display-1"></i>
                </div>
                <div class="col-md-8">
                    <div class="card-body text-center text-sm-start">
                        <h5 class="card-title">Role: @ViewBag.User</h5>
                        <hr>
                        <p class="card-text">email : <span>876gokul@gmail.com</span></p>
                        <p class="card-text">phone : <span>80720 22640</span></p>
                        <p class="card-text"><small class="text-muted">ACE1234</small></p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        @{
            var currentUser = ViewBag.user;
            foreach (var item in currentUser.Claims)
            {
                <p>@item</p>
            }
            @currentUser.IsInRole("Developer");
            @currentUser.IsInRole("Admin");
            @currentUser.IsInRole("Tester");
        }
        <div class="col-12 d-flex align-items-center justify-content-start">
            <i class="fs-1 bi bi-arrow-right-circle text-dark mt-3">
                <a asp-controller="Admin" asp-action="Dashboard" class="btn ">Dashboard</a>
            </i>
        </div>
        <hr>
        <div class="col-12 d-flex align-items-center justify-content-start">
            <i class="fs-1 bi bi-arrow-right-circle text-dark mt-3">
                <a asp-controller="Admin" asp-action="Kanban" class="btn ">Kanban</a>
            </i>
        </div>
        <hr>
    </div>
</div>