
@model SoftwareProjectManagementSystem.Models.Task
@{
    ViewData["Title"] = "Task Details";
}
<div class="container">
    <div class="card col-12 col-sm-6 col-md-4 mt-3">
        <div class="card-header">
            <h5 class="modal-title" id="ClientModelLabel">Details of <span>@Model.Name</span> in <span>@Model.ProjectNavigation.Name</span> project</h5>
        </div>
        <div class="card-body">
            @{
                <div class="cardtext h4">
                    <strong>Task Name : </strong> <span>@Model.Name</span>
                </div>
                <div class="cardtext">
                    <strong>Description : </strong> <span>@Model.Descrption</span>
                </div>
                <div class="cardtext">
                    <strong>Task Priority: </strong> <span>@Model.PriorityNavigation.Name</span>
                </div>
                <div class="cardtext">
                    <strong>Created By : </strong> <span>@Model.CreatedByNavigation.Name</span>
                </div>
                <div class="cardtext">
                    <strong>Assigned To : </strong> <span>@Model.AssignedToNavigation.Name</span>
                </div>
                <div class="cardtext">
                    <strong>Task Status: </strong> <span>@Model.StatusNavigation.Name</span>
                </div>
            }
        </div>
        <div class="card-footer">
            <a class="btn btn-outline-primary" asp-action="Index">Back To Users</a>
            <a asp-action="EditClient" class="btn btn-outline-dark" asp-route-id="@Model.Id">Edit</a>
        </div>
    </div>

</div>
